# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Database
expenses.db

# Environment Variables
.env

.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Tooling
.venv/
.pytest_cache/
.ruff_cache/
